.header{
    background: rgb(0,0,5);
    background: linear-gradient(0deg, rgba(0,0,5,0) 0%, rgba(0,0,0,1) 80%);
    backdrop-filter: blur('2px');
    box-shadow: none;
    width: 100%;
    position: fixed;
    top:0;
    display:flex;
    justify-content: space-between;
    z-index: 1000;
}